.Agent {
    width: 100vw;
    height: calc(100% - 60px);
    position: relative;

    .sidebar {
        width: 5rem;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: 20;
        background-color: #58A0C8;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: .5rem;

        @media (max-width:768px) {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5rem;
            flex-direction: row;
        }

        .box {
            width: 100%;
            height: 5rem;
            display: flex;
            align-items: center;
            transition: background .5s ease;
            cursor: pointer;

            &:hover {
                background-color: #113F67;
            }

            @media (max-width:768px) {
                justify-content: center;
            }

            .icon {
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                flex-shrink: 0;
                width: 5rem;
            }

            .name {
                font-size: 1.3rem;
                flex-shrink: 0;

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }

    .main-content {
        width: 100%;
        height: 100%;
    }
}