.Agents {
    width: 100%;
    height: 100%;
    padding: 0 7rem;
    overflow-y: scroll;

    .disabled-btn {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .status.free {
        color: #16a34a;
        font-weight: 600;
    }

    .status.on-duty {
        color: #f97316;
        font-weight: 600;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: 768px) {
        padding: 1rem;
    }

    .header {
        width: 100%;

        h1 {
            font-size: 3rem;
            text-align: end;
            font-weight: 700;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        @media (max-width: 768px) {
            padding-bottom: 7rem;
        }

        .box {
            display: flex;
            width: 100%;
            height: 5rem;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.457);
            color: white;
            position: relative;

            @media (max-width: 768px) {
                flex-wrap: wrap;
                width: 100%;
                height: 15rem;
                align-items: start;
            }


            .no {
                text-align: center;
                border-right: 2px solid black;

                @media (max-width:768px) {
                    font-size: 2rem;
                    border: none;
                    width: 10%;
                }
            }

            .name {
                text-align: center;
                border-right: 2px solid black;

                @media (max-width:768px) {
                    font-size: 2rem;
                    border: none;
                    width: 45%;
                }
            }

            .email {
                text-align: center;
                border-right: 2px solid black;

                @media (max-width:768px) {
                    border: none;
                    font-size: 2rem;
                    width: 45%;
                }
            }

            .id {
                text-align: center;
                border-right: 2px solid black;

                @media (max-width:768px) {
                    border: none;
                    font-size: 2rem;
                    width: 100%;
                }

            }

            .status {
                text-align: center;
                border-right: 2px solid black;

                @media (max-width:768px) {
                    border: none;
                    font-size: 2rem;
                    width: 100%;
                }

            }

            .button {
                text-align: center;

                button {
                    background-color: seagreen;
                    font-weight: 800;
                    color: white;
                    padding: .2rem .5rem;
                    cursor: pointer;

                }
            }
        }
    }

}